/*****hadoc*****/
/* #hadoc(f286c1a79615597b) #css starts */
.navbar-light .navbar-nav .active>.nav-link{
    color: #292929
}
.navbar-light .navbar-nav .nav-link {
    color: #292929
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #2C56DF
}
.headerh222fa673a781ab9e .fa-shopping-cart{
    color: #2C56DF;
    font-size: 20px
}
.headerh222fa673a781ab9e .fa-user-plus {
    color: #2C56DF;
    font-size: 20px;
    display: none;
}
/* #hadoc(f286c1a79615597b) #css ends */
/*****hadoc*****/

/*****babajide*****/
    /* #babajide(b9ce7550acbf1ce9f) #css starts  */
    .bannerb9ce7550acbf1ce9f .button {
        background-color: #2C56DF;
        color: #E1E8FB;
        border-radius: 0px
    }
    .bannerb9ce7550acbf1ce9f .button:hover {
        color: #E1E8FB
    }
    .bannerb9ce7550acbf1ce9f .background{
    padding: 100px;
    background-size: cover
    }
    .bannerb9ce7550acbf1ce9f p{
        font-size: 20px
        }
    /* #babajide(b9ce7550acbf1ce9f) #css ends  */
/*****babajide*****/

/*****cash*****/
    /* #cash(c1486b52e923e265f) #css starts  */
    .counterc1486b52e923e265f{
        padding: 4.5rem 0
    }
    .counterc1486b52e923e265f h2{
        font-weight: 600;
        margin-top: 15px;
        color: #2C56DF 
    }
    .counterc1486b52e923e265f .BG{
        background-color:#fff
    }
    .counterc1486b52e923e265f .fa{
        font-size: 40px;
        color: #292929
    }
    /* #cash(c1486b52e923e265f) #css ends  */
/*****cash*****/

/*****fila*****/
/* #fila(filafe9c6aurswl) #css starts */
.filafe9c6aurswl .fdb-block {
    padding: 4.5rem 0
}
.filafe9c6aurswl h1 {
    font-size: 32px;
    font-weight: 900
}
.filafe9c6aurswl .fdb-block .fdb-touch {
border-top: solid 0.3125rem #fff
}
.filafe9c6aurswl  h2 {
font-size: 20px
}
.filafe9c6aurswl a {
    color: #292929
}
.filafe9c6aurswl a:hover {
    font-weight: 600;
    color: #2C56DF
}
/* #fila(filafe9c6aurswl) #css starts */
/*****fila*****/

/*****francesca*****/
/* #francesca(formfeml7xrw329) #css starts */
.formfeml7xrw329{
    padding: 4.5rem 0
}
.formfeml7xrw329h1 h1 {
    font-size: 32px
}
.formfeml7xrw329h1 .lead {
    font-size: 20px;
    font-weight: 400
}
.formfeml7xrw329 .btn-secondary {
    background-color: #2C56DF;
    color: #E1E8FB;
    border: 1px solid #2C56DF;
    font-weight: 600
}
.formfeml7xrw329  .btn-secondary:not(:disabled):not(.disabled):active{
    background-color: #2C56DF;
    color: #E1E8FB;
    border: 1px solid #2C56DF;
    font-weight: 600
}
/* #francesca(formfeml7xrw329) #css starts */
/*****francesca*****/

/*****fuskoni*****/
/* #fuskoni(fuskonift41bl2cga4) #css starts */
.fuskonift41bl2cga4{
    padding: 4.5rem 0
}
.fuskonift41bl2cga4 h1{
    font-size: 32px
}
.fuskonift41bl2cga4 .lead {
    font-size: 20px
}
.fuskonift41bl2cga4 a {
    color: #292929
}
.fuskonift41bl2cga4 a:hover {
    font-weight: 600;
    color: #2C56DF
}
.fuskonift41bl2cga4 h3{
    font-size: 20px
}
/* #fuskoni(fuskonift41bl2cga4) #css starts */
/*****fuskoni*****/

/*****fond*****/
    /* #fond(fondt37qz6qr2q) #css starts */
    .fondt37qz6qr2q a {
        color: #292929
    }
    .fondt37qz6qr2q a:hover {
        color: #2C56DF
    }
    /* #fond(fondt37qz6qr2q) #css ends */
/*****fond*****/